@import "tailwindcss";

@keyframes fadeIn {
  from {
    opacity: 0;
    transform:translateY(-10px);
  }
  to {
    opacity: 1;
    transform:translateY(0);
  }
}
.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out forwards;
}
.custom-scrollbar {
  overflow-y: hidden; 
}

.custom-scrollbar::-webkit-scrollbar {
  height: 2px;
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
   background: transparent;
  border-radius: 10px;
  transition: background 0.2s ease-in-out;
}
.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.4);
}

.custom-scrollbar:hover::-webkit-scrollbar {
  background: rgba(255,255,255,0.1);
}
